ul {
    list-style-type: none;
}

.app-link {
    text-decoration: none;
    color: inherit;
}

.main {
    margin-left: 2em;
    margin-top: 2em;
    margin-right: 2em;
}

.pager {
    height: 140;
    width: 100;
}