ul {
    list-style-type: none;
}

.app-link {
    text-decoration: none;
    color: inherit;
}

.main {
    margin-left: 2em;
    margin-top: 2em;
    margin-right: 2em;
    overflow: scroll;
    height: 600px;
}

.pager {
    height: 140;
    width: 100;
}

.footer {
    position: fixed;
    height: 50px;
    background-color: black;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Montserrat sans-serif !important; 
    text-transform: uppercase;
    padding-top: 10px;
}

.appbar-title {
    font-family:  Open Sans sans-serif !important; 
    text-transform: uppercase;
}

.movie-card-button-group {
    float: right !important;
}